* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Kalnia', serif;
}


.header {
    background-color: #1c1c1b;
    color: white;
    padding: 10px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
}


.search-box {
    margin-top: 10px;
}

.search-box input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}


.anime-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: centers;
    max-width: 1000px;

}

.text-heading {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 24px;
}


.card {
    position: relative;
    width: 230px;
    height: 350px;
    margin-bottom: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 16px;
    transition: 0.4s;
}

.card:hover img {
    transform: scale(1.05);

}

.card .anime-info {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transition: 0.4s;
}

.card:hover .anime-info {
    background-color: rgba(0, 0, 0, 0.9);
}

.card h4 {
    font-size: 18px;
    margin-bottom: 4px;
}


.anime-content {
    margin: 80px;
    text-align: center
}

.anime-content img {
    width: 300px;
    border-radius: 0px;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(212, 187, 163, 0.9);
    border-radius: 16px;
    text-align: justify;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .overlay {
    opacity: 1;
    height: 100%;
}

.overlay .synopsis {
    width: 80%;
    margin: 0 auto;
    max-height: 100%;
    padding: 1rem;
    overflow-y: auto;
}


@media (max-width: 768px) {
    .row {
        margin-left: 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-heading {
        margin-left: 0;
    }
}